body {
  margin: 0;
  overflow-x: hidden !important;
  font-family: "Montserrat", sans-serif !important;
  background: white;
}

:root {
  --color-bg-blue: linear-gradient(90deg, rgba(19,19,121,1) 23%, rgba(237,58,58,1) 100%);
  --color-red: #d51d30;
  --color-black: #020202;
  --color-light-black: #333333;
  --color-gry: #b1b1b1;
  --color-white: #ffff;
  --color-blue: #178acc;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

/* custom-container */
.container-space {
  padding: 0 30px;
}

/* buttons */
a.custom-btn {
  border: 1px solid var(--color-light-black);
  border-radius: 20px;
  padding: 7px 20px;
  font-size: 14px;
  color: var(--color-light-black);
  text-transform: uppercase;
}

a.custom-btn:hover{
  background-color: var(--color-light-black);
  color: var(--color-white);
  transition: 0.5s;
}

/* divider-gap */
hr.divider-gap{
  border-width: 10px;
  color: var(--color-light-black);
}



















/* media-query */
@media screen and (max-width: 1920px) {}

@media screen and (max-width: 1366px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 425px) {}